<div class="form-group">
    <label class="col-sm-2 control-label">Delivery <br /><small class="text-navy">Learn more</small></label>
    <div class="col-sm-10">
        <div class="radio">
            <label>
                <input class="radio i-checks" type="radio" data-bind="iCheck: { checked: selectedVal }" name="delivery" value="byHand" required /> By Hand
            </label>
        </div>
        <div class="radio">
            <label>
                <input class="radio i-checks" type="radio" data-bind="iCheck: { checked: selectedVal }" name="delivery" value="online" required /> Online
            </label>
        </div>
        <div class="radio">
            <label>
                <input class="radio i-checks" type="radio" data-bind="iCheck: { checked: selectedVal }" name="delivery" value="shipping" disabled /> Shipping (comming Soon)
            </label>
        </div>
    </div>
</div>