<div class="footer">
    <div class="">
        <a data-bind="click:authForFeedback">Feedback always welcome</a>
        @*<a style="margin-right:40px" class="pull-right" href="/Cofounder">Are you one of us?</a>*@
    </div>
</div>
