<div class="footer">
    <div class="">
        <a data-bind="click:authForFeedback">Feedback always welcome</a>
    </div>
    @*<div>
        <strong>Copyright</strong> Example Company &copy; 2014-2015
    </div>*@
</div>
