<div class="footer">
    <div class="">
        <a href="/Feedback-contact">Feedback</a>
    </div>
    @*<div>
        <strong>Copyright</strong> Example Company &copy; 2014-2015
    </div>*@
</div>
