
@{
    ViewBag.Title = "About";
}

<h2>About DEALKAR</h2>

<p>
    dealkar.pk is a classified website where you can buy and sell your phone, laptop, bike, car, house, find jobs and avail services. 

</p>
