@{ 
    Layout = null;
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.2.0/knockout-min.js"></script>
<div id="stuff" data-bind="foreach: stuff">
    <div data-bind="text: $data"></div>
</div>
<!-- ko scrollToEnd: stuff --><!-- /ko -->
<input type="text" data-bind="value:msg" />
<button type="button" data-bind="click:addMsg" >add</button>
<style>
    #stuff {
        height: 100px;
        border: 1px solid black;
        overflow: scroll;
    }
</style>

<script>
    function ViewModel(id, name) {
        var self = this;
        self.msg = ko.observable();
        self.addMsg = function () {
            self.stuff.push(self.msg());
        }
        self.stuff = ko.observableArray([]);
    }
    var vm = new ViewModel();

    ko.bindingHandlers.scrollToEnd = {
        update: function (element, valueAccessor, allBindings, viewModel, bindingContext) {
            ko.utils.unwrapObservable(valueAccessor());
            var scroller = element.previousSibling.previousSibling;
            scroller.scrollTop = scroller.scrollHeight;
        }
    };
    ko.virtualElements.allowedBindings.scrollToEnd = true;

    ko.applyBindings(vm);


    //setInterval(newDataCometh, 1000);

    //function newDataCometh() {
    //    var newData = (Math.random() * 100000 + 10000).toString(36); // just random gibberish
    //    vm.stuff.push(newData);
    //}

</script>

    