

<div class=" ">
    <div class="ibox-title">
        <h5>Search by Brand or model</h5>
        @*<div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
            <a class="close-link">
                <i class="fa fa-times"></i>
            </a>
        </div>*@
    </div>
    <div class="ibox-content">
        <input type="text" class="form-control" id="treeSearch" placeholder="search " />
        <div id="navigation">
            <ul data-bind="foreach:showCompanies">
                <li data-bind="visible:companyName">
                    <a data-bind="text:companyName"></a>
                    <ul data-bind="foreach:showModels">
                        <li data-bind="text:modelName"></li>
                    </ul>
                </li>
            </ul>
        </div>
        <label> <input data-bind="checked:mobileAccessories" type="checkbox">Mobile accessories </label>
    </div>
</div>

